@using ClinicApp.Infrastructure
@model IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container py-3 text-center">
    <h1 class="display-3">Clinic App</h1>
    <p>Patients are our priority</p>
    
    @switch (Model.RoleName)
    {
        case Constants.Roles.PatientRoleName:
            <partial name="_DoctorsList"/>
            break;
    }
</div>
