@using ClinicApp.Infrastructure
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IndexViewModel
@{
    ViewData["Title"] = "Home page";
    var defaultItem = new SelectListItem("All", null);
}

<div class="container py-3 text-center">
    <h1 class="display-3">Clinic App</h1>
    <p>Patients are our priority</p>
    
    @switch (Model.RoleName)
    {
        case Constants.Roles.PatientRoleName:
        {
            <div class="my-3">
                <p class="text-start mb-2">Search by specialty:</p>

                <form asp-action="Search" method="post">
                    <div class="hstack">
                            <select asp-items="new List<SelectListItem>(Model.Specialities.Select(s => new SelectListItem(s.Name, s.Id.ToString(), s.Id == Model.SelectedSpeciality)).Prepend(defaultItem))"
                                asp-for="@Model.SelectedSpeciality" class="form-select"></select>
                        <button class="btn btn-outline-primary rounded-pill mx-2" type="submit">Search</button>
                    </div>
                </form>
            </div>


            @if (!Model.IsActivated)
            {
                <p class="h6 text-danger">Currently your account is not activated, so you're not able to sign in for a visit to any doctor.
                    Please wait until a Manager activates your account.
                </p>
            }
            <partial name="_DoctorsList" model="@Model.Doctors"/>
            break;
        }
        case Constants.Roles.DoctorRoleName:
            <p>Currently signed in as a Doctor.</p>
            break;
        case Constants.Roles.ManagerRoleName:
            <p>Currently signed in as a Manager.</p>
            break;
        default:
            @if (SignInManager.IsSignedIn(User))
            {
                <p>User signed in.</p>
            }
            else
            {
                <p>User not signed in.</p>
            }
            break;
    }
</div>
