@model ClinicApp.Areas.Manage.ViewModels.DoctorRegistrationViewModel
@{
    ViewData["Title"] = "Register a doctor";
}

<div class="container-sm text-center p-4">
    <h1 class="display-4">Register</h1>
    <p>Provide all the required data and register a new doctor.</p>
    
    <div class="text-start text-danger" asp-validation-summary="All"></div>
    
    <form asp-controller="Doctors" asp-action="Register" method="post" class="my-3">
        <div class="form-floating my-2">
            <input class="form-control" asp-for="UserName" placeholder="User name"/>
            <label asp-for="UserName">User name</label>
        </div>
        <div class="form-floating my-2">
            <input class="form-control" asp-for="Password" type="password" placeholder="Password" />
            <label asp-for="Password">Password</label>
        </div>
        <div class="form-floating my-2">
            <input class="form-control" asp-for="ConfirmPassword" type="password" placeholder="Confirm password" />
            <label asp-for="ConfirmPassword">Confirm password</label>
        </div>
        <div class="text-start my-3">
            <label asp-for="SpecialityId" class="mb-2">Specialty</label>
            <select asp-items="@new List<SelectListItem>(Model.Specialities?.Select(s => new SelectListItem(s.Name, s.Id.ToString())) ?? new List<SelectListItem>())" 
                    asp-for="SpecialityId" class="form-select"></select>
        </div>
        
        <a asp-area="Manage" asp-controller="Doctors" asp-action="Index" class="btn btn-lg btn-outline-secondary rounded-pill">Back</a>
        <button type="submit" class="btn btn-outline-primary btn-lg rounded-pill">Register</button>
    </form>
</div>