@page "/app/manage"
@using Microsoft.AspNetCore.Authorization
@using ClinicApp.Infrastructure
@attribute [Authorize(Roles = Constants.Roles.ManagerRoleName)]

<div class="container py-4">
    <div class="text-center mb-5">
        <h1 class="display-4">Clinic management center</h1>
        <p>Use this section to manage information regarding the clinic.</p>
    </div>

    <div class="card my-2">
        <div class="card-body">
            <NavLink href="/app/manage/doctors" Match="NavLinkMatch.All" class="h4">Doctors</NavLink>
            <p class="mt-2">Allows to register new doctors, edit their schedules and generate reports.</p>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <NavLink href="/app/manage/patients" Match="NavLinkMatch.All" class="h4">Patients</NavLink>
            <p class="mt-2">View registered patients and activate their accounts.</p>
        </div>
    </div>
</div>
