@model UserCredentialsDto
@{
    ViewData["Title"] = "Login";
}

<div class="container-sm p-4 text-center">
    <h1 class="display-4">Log in</h1>
    <p>Provide your credentials and log in.</p>

    <div asp-validation-summary="All" class="text-start text-danger"></div>
    
    <form asp-action="Login" asp-controller="User" method="post" class="mt-3">
        <div class="form-floating my-2">
            <input asp-for="UserName" class="form-control" placeholder="User name"/>
            <label asp-for="UserName">User name</label>
        </div>
        <div class="form-floating my-2">
            <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
            <label asp-for="Password">Password</label>
        </div>
        
        <button type="submit" class="btn btn-lg btn-outline-primary rounded-pill">Log in</button>
    </form>
</div>